.legend {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.legend * {
  display: inline-block;
}

p {
  margin: 0;
  margin-left: 10px;
}

.legend-item {
  margin-right: 30px;
}
